.extDivBody {
    margin: 0;
    padding: 0;
    background-color: green;
    widows: 100%;
    height: 100vh;
}
.extAbsDivMiddle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}
.extDivMiddle {
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
}
.expText {
    color: white;
    font-size: 1.25vw;
    /* font-family: "montserrat"; */
    font-weight: 900;
    cursor: pointer;
}

.extHidden {
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
}
.expText:hover .extHidden {
    opacity: 1;
    max-width: 1em;
}

.expTextUnStyled {
    /* color: white;
    font-size: 1.25vw; */
    /* font-family: "montserrat"; */
    /* font-weight: 900; */
    cursor: pointer;
}

.expTextUnStyled:hover .extHidden {
    opacity: 1;
    max-width: 1em;
}

.point-finger {
    font-size: 1vw;
    color: white;
    float: right;
}

@media screen and (max-width: 600px) {
    .extDivMiddle {
        justify-content: center;
    }

    .expText {
        font-size: 5vw;
    }

    .expTextUnStyled {
        font-size: 5vw;
    }

    .point-finger {
        font-size: 3vw;
    }
}