.first-letter::first-letter {
    font-size: 9vh;
    /* display: inline-block; */
    float: left;
    line-height: 7vh;
    margin-right: 1vh;
    font-weight: bold;
    color: lightblue;
    text-shadow: 5px 5px 3px blue;
}


.justy-p {
    text-align: justify;
}

.first-letter {
    text-align: justify;
}

/* .textFormat {
    font-size: 22px;
    font-weight: bold;
} */

.react-app-site {
    display: flex; 
    flex: 1;
    margin-bottom: 25px; 
}

.logo-div {
    flex: 1;
}

.react-desc {
    flex: 9;
}

@media screen and (max-width: 600px) {
    .react-app-site {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .logo-div {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}