 
  .fslides {
    margin: 5px auto;
    /* max-width: 600px; */
  }
  
  .fslide {
    border: 4px solid black;
    padding: 5px;
    /* margin-bottom: 200px; */
  }
  
  .blurb {
    border-bottom: 4px solid black;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  
  .fslide:nth-child(1) .blurb {
    color: #673AB7;
  }
  
  .blurb .title {
    font-size: 64px;
    letter-spacing: 0.02em;
  }
  
  .blurb .sub {
    font-size: 24px;
  }
  
  .example {
    /* background: #eee; */
    padding: 30px;
  }
  
  .example.no-padding {
    padding: 0px;
  }
  
  .example {
    overflow: hidden;
  }
  
  .example .belt {
    width: 200%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  
  .example .state {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .example .state-1 {
    /* background: #999; */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
  }
  
  .example .state-2 {
    /* background: #aaa; */
    -webkit-box-shadow: 0px 0px 0px black;
    box-shadow: 0px 0px 0px black;
    z-index: 2;
    -webkit-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
  }
  
  .example .fbutton {
    /* width: 300px;
    padding: 20px;
    border: none;
    margin-bottom: 20px; */
  }
  
  .example .fbutton {
    background: white;
    color: rgba(0, 0, 255, 1);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.36,-0.67, 0.58, 1.93); 
  }
  
  .rbutton {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.36,-0.67, 0.58, 1.93); 
  }

  .example .rbutton:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5); 
  }
  
  .example .fbutton:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5); 
  }
  
  .example.is-transitioned .belt{
    transform: translateX(-50%);
  }
  
  .example.is-transitioned .state-1{
    transform: scale(0.3) rotateY(-90deg)
  }

/* The below ones are for the animated form components...  */

#divFormContainer {
  /* width: 100%;
  height: 100%; 
  font: 0.9em/1.4 'Oswald', sans-serif;
  color: #fff;
  text-align: right;
  overflow: auto;  */
}
  
.rolldown-flist {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-flist li {
  padding-bottom: 0.01em;
  padding-top: 0.5em;
  margin-bottom: .125em;
  color: white;
  display: block;
  list-style: none;
  font-weight: bold;
  text-shadow: 2px 2px 2px blue;
  /* text-transform: uppercase; */
}

.rolldown-flist li {
  visibility: hidden;
  animation: frolldown 1.5s 1;
  transform-origin:  50% 0;
  animation-fill-mode: forwards;
}

/* .rolldown-flist li:nth-child(2n) {
  background-color: rgb(80, 109, 228);
}

.rolldown-flist li:nth-child(2n+1) {
  background-color: rgb(20, 59, 228);
} */

#myfList {
  /* position: absolute; */
  /* width: 96%; 
  left: 2%; */
  /* margin-left: -25%; */
}

#fbtnReload {
  float: right;
  color: #333;
  background: #ccc;
  text-transform: uppercase;
  border: none;
  padding: .5em 1em;
}

#fbtnReload:hover {
  background: #ddd;
}

@keyframes frolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}

.colGrid {
  display: flex;
  flex-direction: row
}

.col1 {
  flex: 3
}

.col2 {
  flex: 2;
  font: 0.9em/1.4 'Oswald', sans-serif;
  text-align: left;
  color: rgb(250, 230, 48)
}

.col3 {
  flex: 2
}
  
input.form-control, textarea.form-control {
  box-shadow: 0px 0px 7px blue;
}